:host{
    display: block;
    min-height: 100%;
}
:host:after {
    content: "";
    background: url(http://static.comicvine.com/uploads/original/7/79140/1669881-1297618446940.gif);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

@font-face {
    font-family: "TradeGothicBold";
    src: url("https://i.annihil.us/u/prod/marvel/s/font/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
    src: url("https://i.annihil.us/u/prod/marvel/s/font/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"),url("https://i.annihil.us/u/prod/marvel/s/font/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"),url("https://i.annihil.us/u/prod/marvel/s/font/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"),url("https://i.annihil.us/u/prod/marvel/s/font/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg")
}

