:host{
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
}

.lives-container i{
    color: #f0141e;
    font-size: 30px;
    padding: 0px 3px;
    color: #838383;
    transition: all 0.3s;

}

.lives-container i.active{
    color: #f0141e;
    margin-top: 3px;
}