<div id="top-nav">
    <div id="nav-wrapper">
        <a href="/" id="marvel-logo">
            <img src="app/img/Marvel_logo.png" alt="logo">
        </a>
        <div id="marvel_topnav_ul_wrapper">
            <div id="marvel_prenav">
                <div id="marvel_social">
                    <ul class="left_menu">
                        <li><a href="https://www.facebook.com/Marvel/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/Marvel" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCvC4D8onUfXzvjTOM-dBfEA" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>
            <div id="marvel_horiz_rule" class="nav5"> </div>
            <div>
                <ul id="marvel_topnav_ul">
                    <li class="top-nav-menu-item"><a href="/characters" class="">Characters</a></li>
                    <li class="top-nav-menu-item"><a href="/series" class="">Series</a></li>
                    <li class="top-nav-menu-item"><a href="/comics" class="">Comics</a></li>
                    <li class="top-nav-menu-item"><a href="/authors" class="">Authors</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


